<div class="navbar">
    
    
    <div class="flex-grow-1 float-right" style="float: right">
        <a aria-label="Home" class="logo" routerLink="/home">
            <img src="assets/reddit_logo.png" class="reddit-icon-svg" />
          &nbsp;
            <div class="reddit-text">
                reddit
            </div>
        </a>
    </div>

    <div class="searchbar">
        
        <label htmlFor="searchbar">
            <mat-icon>search</mat-icon>
        </label>
        
         <input id="searchbar" placeholder="Search Reddit Clone" />

      </div>

    <div class="flex-grow-1 float-right" style="float: right">
        <div *ngIf="isLoggedIn" ngbDropdown class="float-right">
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button (click)="goToUserProfile()" ngbDropdownItem>Profile</button>
               
                <button (click)="logout()" ngbDropdownItem>Logout</button>
            </div>
            <button class="userdetails" id="dropdownBasic1" ngbDropdownToggle>
                <img class="account-icon" src="src/assets/avatar_default_08_D4E815.png">
                {{username}}
            </button>
        </div>            
        <div class="actions" *ngIf="!isLoggedIn" style="float: right">
            
            <a routerLink="/sign-up" class="float-right sign-up mr-2">Sign up</a>
                     
          &nbsp;
          &nbsp; 
          
            <a routerLink="/login" class="float-right login mr-2">Login</a>
            
            &nbsp;
            &nbsp;

            <mat-icon class="person">person</mat-icon>
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
        </div>
    </div>
    
</div>