
.reddit-icon-svg{
  height: 33px;
  width: 33px;
  margin-left: 10px;
  
}

.reddit-text{        
  font-weight: 600;
  font-family: 'vag';
  font-size: 22px;
  line-height: 50px;
  color: black;
  height: 50px;
  margin-left: 2px;
  width: 50px;  
  text-decoration: none;
  align-items: center;
  text-align: center;
  
}
.logo{
  text-decoration: none;
  display: flex;
  align-items: center;
  
  
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  background-color: white;
  align-items: center;
  border-bottom: 1px solid lightgray;
}


.actions {
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 20px;
  justify-content: space-between
}

.login, .sign-up{    
  background-color: transparent;
  border-color: #0079D3;
  color: #0079D3;
  fill: #0079D3;
  border: 1px solid;
  box-sizing: border-box;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  font-family: Noto Sans, Arial, sans-serif;
  font-size: 14px;
  font-weight: 2000;
  letter-spacing: .5px;
  line-height: 8px;
  text-transform: capitalize;
  padding: 10px 5px;
  width: 120px;
  height: 30px;
  opacity: 1;  
  border-radius: 20px;
  align-items: center;
}


.login{
  background-color: #0079D3;
  border-color: #0079D3;
  padding-right: 5px;
  color: aliceblue;
}

.sign-up:hover{
  opacity: 0.6;
}

.userdetails{    
  background-color: transparent;
  border-color: #0079D3;
  color: #0079D3;
  fill: #0079D3;
  border: 1px solid;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: .5px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 3px 16px;
  opacity: 1;
  border: 10px;
}

.userdetails:hover{
  border: 1px solid;
}

.dropdown-item{
  background-color: #f8f9fa;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  display: inline-block;
  vertical-align: middle;
}

.dropdown-item:hover{
  background-color: #0079D3;
}

.dropdown-menu{
  background-color: #f8f9fa;
}

.account-icon{
  border-radius: 4px;
  float: left;
  margin-right: 5px;
  max-height: 24px;
  max-width: 24px;
}

.searchbar input {
  width: 640px;
  height: 50px;
  padding-left: 40px;
  border-radius: 25px;
  border: 1px solid rgb(230, 230, 230);
  background-color: lightgray;
}

.searchbar input:hover {
  border-color: grey;
  background-color: white;
}

.searchbar {
  position: relative;
}
.search-icon {
  position: relative;
  right: 3px;
  top:8px;
  width: 24px;
  height:24px;
  font-size: 24px;
  cursor: pointer;
}

.searchbar label {
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 15px;
}

.items{
  display:flex;
  align-items: center;

}


