<div class="navbar">
    
    
    <div class="flex-grow-1 float-right" style="float: right">
        <a aria-label="Home" class="logo" routerLink="/home">
            <img src="assets/reddit_logo.png" class="reddit-icon-svg" />
          &nbsp;
            <div class="reddit-text">
                redditclone
            </div>
        </a>
    </div>

    <div class="searchbar">
        
        <label htmlFor="searchbar">
            <mat-icon>search</mat-icon>
        </label>
        
         <input id="searchbar" placeholder="Search Reddit Clone" />

      </div>

    <div class="flex-grow-1 float-right" style="float: right">
        
        <div *ngIf="isLoggedIn" ngbDropdown class="float-right">
            
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button (click)="goToUserProfile()" ngbDropdownItem>Profile</button>
               
                <button (click)="logout()" ngbDropdownItem>Logout</button>
            </div>

            <button class="userdetails" id="dropdownBasic1" ngbDropdownToggle>
                <img class="account-icon" src="src/assets/avatar_default_08_D4E815.png">
                {{username}}
            </button>

        </div>            
        
        <div class="actions" *ngIf="!isLoggedIn" style="float: right">
            
            <a class="float-right sign-up mr-2" (click)="signup()">Sign up</a>
                     
          &nbsp;
          &nbsp; 
          
            <a class="float-right login mr-2" (click)="login()">Login</a>
            
                &nbsp;
            &nbsp;
            
            <div>
            
                <button class="items" mat-button [matMenuTriggerFor]="menu" style="margin-right: 10px;">
                    <mat-icon>person_outline</mat-icon>
                    <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
                        <mat-menu #menu="matMenu">
                            <a routerLink="/sign-up" style="text-decoration: none" mat-menu-item>Sign up</a>
                          
                            <a routerLink="/login" style="text-decoration: none" mat-menu-item>Login</a>
                           
                        </mat-menu>


            </div>            

            </div>
            
        </div>
    </div>
    
