header{
  border-radius: 5px solid black;
}
  
.reddit-icon-svg{
  height: 33px;
  width: 33px;
  margin-left: 20px;
  
}


.reddit-text{        
  font-weight: 600;
  font-family: 'vag';
  font-size: 22px;
  color: black;
  height: 50px;
  margin-left: 2px;
  width: 50px;
  
}

.logo{
  text-decoration: none;
}

.login, .sign-up{    
  background-color: transparent;
  border-color: #0079D3;
  color: #0079D3;
  fill: #0079D3;
  border: 1px solid;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: .5px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 3px 16px;
  opacity: 1;  
}

.sign-up{
  background-color: #0079D3;
  border-color: #0079D3;
  color: aliceblue;
}

.sign-up:hover{
  opacity: 0.6;
}

.userdetails{    
  background-color: transparent;
  border-color: #0079D3;
  color: #0079D3;
  fill: #0079D3;
  border: 1px solid;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: .5px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 3px 16px;
  opacity: 1;
  border: 0px;
}

.userdetails:hover{
  border: 1px solid;
}

.dropdown-item{
  background-color: #f8f9fa;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  display: inline-block;
  vertical-align: middle;
}

.dropdown-item:hover{
  background-color: #0079D3;
}

.dropdown-menu{
  background-color: #f8f9fa;
}

.account-icon{
  border-radius: 4px;
  float: left;
  margin-right: 5px;
  max-height: 24px;
  max-width: 24px;
}


.navbar {
  display: flex;
  justify-content: space-between;
  padding: 8px 20px;
  background-color: white;
  align-items: center;
}

.searchbar input {
  width: 600px;
  padding: 10px;
  padding-left: 40px;
  border-radius: 5px;
  border: 1px solid rgb(230, 230, 230);
  background-color: lightgray;
}

.searchbar input:hover {
  border-color: grey;
  background-color: white;
}

.searchbar {
  position: relative;
}
.search-icon {
  position: relative;
  right: 32px;
  top:8px;
  width: 24px;
  height:24px;
  font-size: 24px;
  cursor: pointer;
}

.searchbar label {
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 15px;
}

.searchbar label svg {
  color: rgb(130, 130, 130);
}