/* You can add global styles to this file, and also import other style files */
@import '~@angular/cdk/overlay-prebuilt.css';

@font-face {
    font-family: "vag";
    src: url(assets/fonts/vag.ttf) format("truetype");
  }

html{
    padding: 0px;
    height: 100%;
}

body{
    margin-top: 63px;
    height: 100px;
}
input.ng-invalid.ng-touched{
    border: 1px solid red;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

